/* MENU */
.nav {
    background-color:#215a6d;
    height: 80px;
}

.nav_toggle {
    position: absolute;
    cursor: pointer;
    margin: 0 1rem;
    right: 0;
}

.nav_toggle svg {
    width: 3rem;
    fill: aliceblue;
}

.nav_toggle .close {
    display: none;
}

.nav_toggle .close,
.nav_toggle .menu {
    margin-top: 40%;
}

.nav_checkbox {
    display: none;
}

.nav_menu {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.nav_menu a {
    text-decoration: none;
}

.nav_menu li {
    list-style: none;
    display: none;
    color: black;
}

.nav_menu li:not(:first-child) {
    color: #a19797;
    font-size: 3vw;
    width: 50%;
    text-align: center;
    background-color:#215a6d;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 5px;
    z-index: 1;
}
.nav_menu li:hover:not(:first-child) {
    padding-bottom: 10px;
    cursor: pointer;
    transform: scale(1.05);
}

.nav_menu li:first-child {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 70px;
    margin-right: auto;
    display: block;
}
.nav_menu li:last-child {
    margin-bottom: 30px;
}
.nav_menu li:nth-child(7n+2){
    margin-top: 3px;
}
.link {
    color: #dfece6;
}
.link:hover {
    color: #d0ded7;
}

.menu_logo img {
    height: 100%;
}

#nav_checkbox:checked ~ ul.nav_menu li {
    display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .close {
    display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .menu {
    display: none;
}

/*Footer*/

#footer {
    bottom:0px;
    position: relative;
    background-color: #2d2d29;
    margin-top: 100px;
    margin-bottom: 0px;
    border-top: 3px solid;
    border-color: black;
    width: 100%;
}
.footer_titulo {
    color: rgb(255, 255, 255);
}
.footer_lista {
    list-style: none;
    display: block;
    justify-content: center;
}
.footer_lista_item {
    width: 100%;
}

.footer_parrafo{
    color: rgb(255, 255, 255);
}
.footer_link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-style: italic;
    text-decoration: none;
}
.footer_link:hover {
    color: #a19797;
}


/* Escritorio */

@media only screen and (min-width: 770px) {
    /* menu */
    .nav_toggle {
        display: none;
    }

    .nav_menu {
        flex-direction: row;
    }

    .nav_menu li {
        display: block;
    }
    .nav_menu li:first-child {
        border-right: 0;
    }
    .nav_menu li:not(:first-child) {
        margin-right: 20px;
        background-color: transparent;
        font-size: 1.4vw;
        width: auto;
        text-align: center;
        border-bottom: 0;
    }
    .nav_menu li:last-child {
        margin-bottom: 0px;
    }

    /* FOOTER */
    .footer_lista {
        display: flex;
    }
    .footer_lista_item {
        width: 33%;
    }
}


/*BODY*/
main {
    display: block;
    text-align: center;
}
.baner_principal {
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 70%;
}

.baner_principal .img{
    width: 100%;
    border-radius: 1rem;
}

.baner_principal .div_titulo {
    width: 70%;
    background-color: rgb(248	247	246);
    position: absolute;
    top: 78%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.1);
    border-radius: 1rem;
    transform: translate(-50%, -50%);
}

.baner_principal .titulo{
    margin: 0;
    padding: 1.2vw;
    font-size: 3.5vw;
    font-weight: lighter;
}


.div_tema {
    display: inline-block;
    margin-top: 20px;
    padding: .1vw;
    width: 60%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.1);
    border-radius: 1rem;
}

:hover.div_tema {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.4);
}
.div_tema .titulo{
    margin: 2vw;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 3vw;
}

.div_tema img {
    padding: 1vh;
    width: 100%;
}

.div_tema .link_tema {
    text-align: center;
    text-decoration: none;
    color: black;
}

/* Escritorio */
@media only screen and (min-width: 770px) {
    .div_tema {
        width: 30%;
        margin: 20px;
    }
    .div_tema .link_tema {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .div_tema .titulo{
        font-size: 2vw;
    }
    .div_tema img {
        padding: 3vh;
        width: 30%;
    }
}